@import "configuration";

.product-card__container {
  overflow: hidden;
  width: 200px;
  padding-top: $spacer-m;
  padding-bottom: $spacer-l;
  cursor: pointer;
  border-radius: $main-border-radius;
  background-color: #ffffff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.product-card__details {
  margin-top: $spacer-m;
  margin-right: $spacer-m;
  margin-left: $spacer-m;
}

.product-card__name {
  margin-bottom: $spacer-s;
  text-align: center;
}

.product-card__price {
  font-weight: 700;
  text-align: center;
}

img {
  width: 100%;
  height: auto;
}
