.main__container {
  display: flex;
  flex-direction: column;
  width: 1420px;
  height: 100%;
  margin: 0 auto;
}

.main__action-container {
  display: flex;
}

.main__search {
  flex: 1;
}

.main__cart {
  margin-left: 2em;
}
