.main__container {
  display: flex;
  flex-direction: column;
  width: 80vw;
  height: 100%;
  margin: 0 auto;
}

.main__headline {
  margin-top: 1em;
  margin-bottom: 1em;
}

.main__action-container {
  display: flex;
}

.main__search {
  flex: 1;
}

.main__cart {
  margin-left: 2em;
}

.main__overview-container {
  margin-top: 2em;
}

.main__products {
  display: flex;
  margin-top: 1em;
}

.main__product:not(:last-of-type) {
  margin-right: 1em;
}
