@import "reset";
@import "color";
@import "content";
@import "form";

* {
  box-sizing: border-box;
}

body, html {
  height: 100%;
}

body {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  background-color: $anti-flash-white;
}
